
<h1>Device Management</h1>

<h2>Add new device</h2>

<form action="~/Home/SaveDevice" method="post">
    <label>Device name: </label>
    <input name="name" id="name"/>
    <input type="submit" value="Save device"/>
</form>
